# Editor files.
*.swo
*.swp

# Static site output.
out

# Haskell build files.
util/.stack-work

# Purescript build files.
app/output
app/.psc-package

# Photo editing source files.
photos/*.kra
photos/*.kra~
photos/*.xcf
