@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;0,900;1,300;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;0,900;1,300;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,500i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i,500,500i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Literata:400,400i,500,500i,600,600i,700,700i&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'IBM Plex Sans';
  font-size: 18px;
  padding: 1em;
}

body {
  max-width: 22em;
  margin-left: auto;
  margin-right: auto;
}

h1, h2 {
  font-family: 'Literata', 'IBM Plex Serif';
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
}

.plant {
  background-color: lightgreen;
  padding: 1em;
  margin-top: 1em;
}
