@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Literata:400,400i,500,500i,600,600i,700,700i&display=swap');

:root {
  /* Colors: */
  /* https://coolors.co/84c318-f5fbef-92ad94-748b75-503d42 */
  /* https://coolors.co/503d42-84c318-c9e3ac-f5fbef-eaefbd */
  --yellow-green: #84c318;
  --honeydew: #f5fbef;
  --laurel-green: #92ad94;
  --xanadu: #748b75;
  --old-burgrundy: #503d42;
  --tea-green: #c9e3ac;
  --pale-spring-bud: #eaefbd;

  --light-bg: #fafbf9;
  --light-bg: #f7f8f6;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'DM Sans';
  font-size: 16px;
  line-height: 1.3em;
  padding: 2em;
  background-color: var(--light-bg);
  color: var(--old-burgrundy);
}

body {
  max-width: 26em;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 700;
  font-size: 1rem;
}

.plant {
  background-color: white;
  border-radius: 0.25em;
  padding: 1.2em;
  padding-left: 0.8em;
  margin-top: 1em;
  /* box-shadow: 2pt 2pt 10pt rgba(0,0,0,0.02), 0pt 0pt 10pt inset rgba(0,0,0,0.01); */
  border-top: 1px solid white;
}

.plant img {
  width: 2.6em;
  height: 2.6em;
  float: left;
  margin-right: 0.8em;
  object-fit: contain;
}

button {
  background-color: white;
  border: 0.8px dashed black;
  border-radius: 0.3em;
  padding: 0.5em;
  margin-right: 1em;
  margin-top: 1em;
}

button img {
  margin-right: 0.5em;
  vertical-align: text-bottom;
}
